recursive-include src/pydsm *.h *.c *.pyx *.pxi
recursive-include src/pydsm *.npz
prune templates
exclude .dir-locals.el
exclude README_PDM.md
exclude TODO.md
exclude uv.lock
exclude .readthedocs.yaml
prune doc
prune examples
exclude CHANGELOG.rst